  .home-prod{
    font-size: 18px;
    font-weight: bold;
  }

  .img-header{
    width: 45%;
  }

  @media (max-width: 780px){
    .img-header{
      width: 75%;
    }
  }

  .top-nav-collapse{
    background: #ee6810ee !important;
  }

  .naranjado{
    background: #ee681084;
  }

 .font-nar{
    color: #ee6810;
  }

  .naranjado2{
    background: #ee6810;
  }

  .gris{
    background: #eeeeee22;
  }

  .text-orange2{
    color: #ee6810;
  }

  .view {
    background: linear-gradient(to bottom, #ee6810, #ffffff00 );
    background-size: cover;
  }

  @media (min-width: 768px) {
      .view {
          overflow: visible;
          margin-top: -56px;
      }
  }

  .navbar {
      z-index: 1;
  }

  html,body,header,.view {
    height: 100%;
  }

  .a-h{
    margin-left: 4px;
    margin-right: 4px;
  }

  .a-h:hover{
    transition: 0.5s;
    background: #ffffff22;
    border-radius: 12px 0px 12px 0px;
  }

  .git-ic{
    margin-left: 18px;
  }

@media (min-width: 1096px){
  .fijar{
    position: fixed; top: 15%; right: 0; z-index: -1;
  }
}

.division{
  color: #ffffff;
  background: #ee6810ee;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 5px 10px #88888845;
}

.btn-car{
  position: absolute;
  z-index: 1;
  top: -35px;
  font-size: 20px;
  border-radius: 10%;
  background: #a29bfea0;
}

.car-icon{
  font-size: 20px;
  color: #ffffff;
}

.btn-car:hover > .car-icon{
  text-shadow: 2px 2px 4px #00000084;
  transform: rotate(360deg);
  transition: .8s;
}

.btn-more{
  font-size: 20px;
  background: #ee6810;
  border-radius: 12px; 
}

.btn-more:hover{
  color: #bbbbbb;
}

.img-prod{
  border-radius: 5px 5px 0 0;
  width: 95%;
  transition: 1s;
}

.img-prod:hover{
  border-radius: 5px 5px 0 0;
  width: 100%;
  transition: 1s;
}

.card-tp{
  background: #ffffff99;
}

.texto-form{
  color: #222222;
}

.volver{
  color: #444444;
  font-size: 20px;
  padding: 0;
}

.btn-volver{
  z-index: 3;
  position: fixed;
  top: 90%;
  right: 2%;
}

.face{
  color: #40739e;
  font-size: 20px
}

.insta{
  font-size: 20px;
  color: #d35400;
}

.whats{
  font-size: 20px;
  color: #2ecc71;
}

body::-webkit-scrollbar{
  width: 6px;
  background: #ee681084;
}

body::-webkit-scrollbar-thumb{
  background: #ee6810;
  border-radius: 0;
}

img.velas{
  height: 30vh;
}

@media (max-width: 575px){
  img.velas{
    height: 50vh;
  }  
}
